.wrapper
  =render 'shared/side'
  =render 'point'
  .input
    = form_for [@group, @point] do |f|
      .input-box
        =f.text_field :point, id: "result" ,maxlength: 8
        = f.submit 'Send', id: 'send'