.wrapper{
  border: #000000 1px solid;
}
.header{
  border-bottom: 1px solid black;
  height: 80px;
  width: 100vw;
  background-color: grey;
  display: flex;
  justify-content: space-between;
  line-height: 80px;
  &__user{
    a{
      color: #ffffff;
    }
    font-size: 28px;
    margin-left: 50px;
  }
  &--btn{
    display: flex;
    li{
      padding-left: 15px;
      border-left: 0.3px solid #000000;
    }
    a{
      color: #ffffff;
      font-weight: bold;
      font-size: 20px;
      margin-right: 20px;
    }
  }
}
.groups{
  height: calc(100vh - 300px);
  width: 200px;
  background-color: grey;
  float: left;
  text-align: center;
  overflow: scroll;
  a{
    color: #ffffff;
  }
  .group{
    border-bottom: 1px solid #000000;
    background-color: #d2d2d2;
    font-size: 18px;
    &__name{
      height: 70px;
      line-height: 70px;
      border-right: #000000 solid 1px;
    }
  }
}
  .point__from{
    text-align: center;
    clear: both;
    float: left;
    height: 200px;
    width: 200px;
    background-color: #f5f5f5;
    &-table{
      height: 200px;
      width: 100%;
      border: 1px solid #000000;

      tr td{
        border: 1px solid #000000;
      }
      .red{
        background-color: rgba($color: #CC3333, $alpha: 0.5)
      }
    }
  }

.content{
  height: calc(100vh - 200px);
  background-color: #bbbbbb;
  border-bottom: 1px solid #000000;
  font-size: 18px;
    &__header{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #000000;
    height: 60px;
    line-height: 60px;
    padding: 0 0 0 50px;
    &-name-group{
      border-left: 1px solid #000000;
      padding: 0 10px 0 10px;
    }
    a{
      font-weight: bold;
      font-size: 20px;
      color: #ffffff;
    }
  }
  &-player{
    text-align: center;
    display: flex;
    &__name, &__name1, &__name2, &__name3{
      height: calc(100vh - 260px);
      width: 25%;
      border-right: 1px solid #000000;
      &__point, &__point1, &__point2, &__point3{
        height: 370px;
        text-align: left; 
        padding: 10px 0 0 10px;
        overflow: scroll;
      }
      &__box{
        border-bottom: 1px solid #000000;
        padding-top: 10px;
        height: 50px;
      }
      &__result, &__result1, &__result2, &__result3{
      border-top: 1px solid #000000;
      height: 50px;
      text-align: left;
      padding: 10px 0 0 10px;
      overflow: scroll;
      &__1,&__3,&__2,&__0,&__1a,&__1b,&__1c,&__1d{
        display: inline;
        font-size: 18px;
      }
    }
  }
  }
}

.input{
  display: flex;
  background-color: #cccccc;
  height: 60px;
  &-box{
    padding: 10px 0 0 10px;
  }
  #send{
    margin-left: 10px;
  }
}

li{
  list-style: none;
}
.contenta{
  display: flex;
li{
  font-size: 18px;
  padding: 10px 0 0 10px;
  width: 25%;
  background-color: #bbbbbb;
  border-right: #000000 1px solid;
  border-bottom: #000000 1px solid;
  height: 50px;
  }
}